 #contact-buttons-bar {
     position: fixed;
     top: 120px;
     left: -50px;
     width: 50px;
     z-index: 999;
 }
 #contact-buttons-bar.slide-on-scroll {
     position: absolute;
 }
 .contact-button-link {
     display: block;
     width: 50px;
     height: 50px;
     padding: 0;
     margin-bottom: 1px;
     text-align: center;
     line-height: 50px;
     font-size: 22px;
     background: #8e8e93;
     color: #fff;
     position: relative;
     left: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
     transition: all 250ms;
 }
 .contact-button-link:hover,
 .contact-button-link:focus,
 .contact-button-link:active {
     color: #fff;
     padding-left: 20px;
     width: 70px;
 }
 .contact-button-link.cb-hidden {
     left: -50px;
 }
 .contact-button-link.facebook {
     background: #3b5998;
 }
 .contact-button-link.linkedin {
     background: #007bb6;
 }
 .contact-button-link.google-plus {
     background: #dd4b39;
 }
 .contact-button-link.separated {
     margin-top: 1em;
 }
 .contact-button-link.twitter {
     background: #00aced;
 }
 .contact-button-link.xing {
     background: #026466;
 }
 .contact-button-link.pinterest-p {
     background: #cb2027;
 }
 .contact-button-link.youtube {
     background: #bb0000;
 }
 .contact-button-link.instagram {
     background: #295477;
 }
 .show-hide-contact-bar,
 .contact-button-link.show-hide-contact-bar:focus,
 .contact-button-link.show-hide-contact-bar:active {
     background: transparent;
     color: #000;
     border: 0;
     outline: 0;
     padding: 0;
     width: 50px;
 }
 .contact-button-link.show-hide-contact-bar:hover {
     color: #000;
     background: #ccc;
     padding: 0;
     width: 50px;
 }